body {
  background-image: url('/header-background-mobile.png');
}

header { /*CONTAINER*/
  display: flex;
  height: 7vh;
  justify-content: space-between;
  
}
.logo, .nav-bar {
  border: 1px solid red
}

.app-wrap {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
}

.text_logo {
  margin: 4px;
  ;
}

/*
.union img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
  .union img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
*/
