body {
  background-color: #f1f1fc;
}

#welcome {
  background-image: url(/styles-conference/assets/header-shapes-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom-left-radius: 15%;
}

#welcome,
.about_my_self {
  background-color: white;
  background-position: center;
  object-fit: cover;
  border: 1px solid white;
}

header {
  /* HEADER CONTAINER */
  display: flex;
  height: 48px;
  justify-content: space-between;
}

.menu {
  position: absolute;
  float: right;
  margin-top: 8px;
  width: 24px;
  height: 24px;
  right: 15px;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 26.666666%;
  margin: 4px;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  border: 1px solid rebeccapurple;
}

.logo,
.nav-bar {
  justify-content: center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
}

.salute {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.description,
.salute,
.lets_connect,
.logo,
p,
a,
h1,
h2,
textarea::placeholder,
input::placeholder,
textarea,
input[type="text"],
input[type="email"] {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.lets_connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7f8cff;
}

li {
  list-style: none;
}

.icons,
.card_ul,
.categories {
  padding-inline-start: 1px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 14px;
  gap: 3px;
  width: 190px;
}

.social {
  margin-bottom: 17px;
  margin-left: 0;
  max-width: 50%;
}

.welcome_content {
  height: 604px;
}

.content {
  /* CONTENT CONTAINER */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content > * {
  margin-left: 6.4%;
  margin-right: 6.4%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#work {
  display: grid;
  grid-template-rows: repeat(4, 652px);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 80px;
  height: 572px;
  border-radius: 5%;
  border: 1px solid #dfe1e6;
}

.card > * {
  margin: 4%;
}

.card_bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card_bottom > * {
  margin: 5px;
  flex: 1 1 auto;
}

.card_title {
  font-size: 32px;
}

.card_ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 80%;
  font-size: 12px;
}

.canopy,
.text_li {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.text_li {
  color: #7a869a;
}

.description {
  font-weight: 400px;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
}

.description_cards {
  font-size: 15px;
}

.categories {
  display: flex;
  justify-content: flex-start;
  gap: 11px;
}

.categories > * {
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  height: 24px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.see_project_button,
.get_resume_button,
.submit_button {
  color: #396df2;
  display: flex;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #6070ff;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.submit_button {
  width: 142px;
  margin-top: 20px;
}

.get_resume_button {
  width: 162px;
}

.see_project_button {
  width: 126px;
}

.about_my_self {
  border-top-right-radius: 50px;
  margin-top: 114px;
  padding-top: 114px;
  padding-bottom: 100px;
}

.content_about_self {
  margin: 0;
}

#twitter_icon {
  order: 1;
}

#hand_icon,
#linkedin_icon {
  order: 0;
}

#git_icon {
  order: -1;
}

#m_icon {
  order: 2;
}

#menu_list {
  visibility: hidden;
}

.content_about_self2 {
  display: flex;
  flex-direction: column;
  padding-inline-start: 1px;
}

.ul_list_info {
  margin: 1px;
  padding: 1px;
}

.list_info {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.list_info > * {
  font-weight: 500;
  font-size: 20px;
}

.list_lang {
  display: flex;
  gap: 10px;
  border-radius: 8px;
  background-color: #f7f7f9;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.list_lang > * {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
}

.contact {
  padding-top: 60px;
  background-image: url(/styles-conference/assets/contact_bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  height: 780px;
  background-color: #6070ff;
  border-top-left-radius: 50px;
}

.form_header {
  text-align: center;
}

.form_header h2 {
  color: #ebebff;
  font-weight: 700;
  font-size: 40px;
}

.form_header p {
  text-align: center;
  color: #ebebff;
  width: 327px;
  font-weight: 400;
  font-size: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  padding-left: 16px;
  font-size: 17px;
}

input::placeholder,
textarea::placeholder {
  color: #b3bac5;
  font-size: 15px;
}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
}

textarea {
  border: 2px solid pink;
  height: 170px;
  padding-top: 15px;
}

input {
  height: 48px;
}

input,
textarea {
  background: #fff;
  width: 90%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-top: 18px;
}

.see_project_button:hover,
.get_resume_button:hover,
.submit_button:hover {
  background-color: #6070ff;
  color: #fff;
}

.see_project_button:disabled,
.get_resume_button:disabled,
.submit_button:disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.see_project_button:active,
.get_resume_button:active,
.submit_button:active {
  background-color: #2230d2;
  color: #fff;
}

#form_ul {
  padding-left: 24px;
}

@media screen and (min-device-width: 768px) {
  .content {
    width: 67%;
  }

  .app-wrap {
    align-items: center;
  }

  #welcome {
    background-image: url(/styles-conference/assets/desktop_bg.svg);
    background-size: contain;
    background-position: top;
  }

  header {
    width: 100%;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }

  .card_image {
    width: 100%;
    height: auto;
  }

  #tonic1 {
    order: 1;
  }

  #stories1 {
    order: 2;
  }

  #img_link_storie1,
  #img_link_storie2 {
    order: 1;
  }

  .canopy,
  .text_li {
    font-size: 18px;
  }

  .card_bottom {
    margin-top: 6%;
  }

  .card_bottom > * {
    flex: none;
  }

  .categories {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #menu_list {
    visibility: visible;
    float: right;
    display: flex;
    margin-right: 130px;
    gap: 15px;
  }

  #menu_list > * > * {
    font-size: 15px;
    font-weight: 500;
  }

  .menu {
    visibility: hidden;
  }

  .nav-bar {
    display: flex;
    justify-content: flex-end;
  }

  #work {
    grid-template-rows: repeat(4, auto);
  }

  .about_my_self {
    display: flex;
  }

  .content_about_self2 {
    padding: 1px;
    margin: 1px;
  }

  .ul_list_info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .list_lang {
    flex-direction: column;
    gap: 3px;
    border-radius: 8px;
    background-color: #f7f7f9;
    align-items: center;
    padding: 5px;
    margin: 3px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/styles-conference/assets/form_bg_screen.svg);
    background-position: center;
  }

  .form_header p {
    text-align: center;
    width: 550px;
  }

  #form_ul {
    display: flex;
    flex-direction: column;
    padding-left: 1px;
    align-items: center;
  }

  input,
  textarea {
    width: 447px;
    border-radius: 1px;
  }
}
