body {
  background-color: #f1f1fc;
}

#welcome {
  background-image: url(/styles-conference/assets/header-shapes-mobile.svg);
  background-repeat: no-repeat;
  border-bottom-left-radius: 15%;
  background-position: center;
}

#welcome,
.about_my_self {
  background-color: white;
  background-position: center;
  object-fit: cover;
  border: 1px solid white;
}

header {
  /* HEADER CONTAINER */
  display: flex;
  height: 48px;
  justify-content: space-between;
  margin-right: 6.4%;
}

.nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20%;
}

.menu {
  margin-top: 12px;
  width: 24px;
  height: 24px;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 26.666666%;
  margin: 4px;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  width: 10.666666%;
  justify-content: center;
}

.logo,
.nav-bar {
  justify-content: center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
}

.salute {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  line-height: 52px;
}

.description,
.salute,
.lets_connect,
.logo,
p,
a,
h1,
h2,
textarea::placeholder,
input::placeholder,
textarea,
input[type="text"],
input[type="email"] {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.lets_connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7f8cff;
}

li {
  list-style: none;
}

.icons,
.card_ul,
.categories {
  padding-inline-start: 1px;
}

.icons,
.icons_padding {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 14px;
  gap: 3px;
  width: 190px;
}

.icons_padding {
  padding-inline-start: 15px;
}

.social {
  margin-bottom: 17px;
  margin-left: 0;
  max-width: 50%;
}

.welcome_content {
  height: 604px;
}

.content {
  /* CONTENT CONTAINER */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content > * {
  margin-left: 6.4%;
  margin-right: 6.4%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#work {
  display: grid;
  grid-template-rows: repeat(4, 652px);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 80px;
  height: 572px;
  border-radius: 5%;
  border: 1px solid #dfe1e6;
}

.card > * {
  margin-left: 14px;
  margin-right: 14px;
}

.card_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_bottom > * {
  margin: 5px;
  flex: 1 1 auto;
}

.card_title {
  font-size: 32px;
}

.card_ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  font-size: 12px;
}

.canopy,
.text_li {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.text_li {
  color: #7a869a;
}

.description {
  font-weight: 400px;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
}

.categories {
  display: flex;
  width: 213px;
  justify-content: space-between;
}

.categories > * {
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  height: 24px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.see_project_button,
.get_resume_button,
.submit_button {
  color: #396df2;
  display: flex;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #6070ff;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.submit_button {
  width: 142px;
  margin-top: 20px;
}

.get_resume_button {
  width: 162px;
}

.see_project_button {
  width: 126px;
}

.about_my_self {
  border-top-right-radius: 50px;
  margin-top: 114px;
  padding-top: 114px;
  padding-bottom: 100px;
}

.content_about_self {
  margin: 0;
}

#twitter_icon {
  order: 1;
}

#hand_icon,
#linkedin_icon {
  order: 0;
}

#git_icon {
  order: -1;
}

#m_icon {
  order: 2;
}

.content_about_self2 {
  display: flex;
  flex-direction: column;
  padding-inline-start: 1px;
}

.list_info {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.list_info > * {
  font-weight: 600;
  font-size: 20px;
}

.list_lang {
  display: flex;
  gap: 10px;
  border-radius: 8px;
  background-color: #f7f7f9;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.list_lang > * {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
}

.contact {
  padding-top: 60px;
  background-image: url(/styles-conference/assets/contact_bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  height: 780px;
  background-color: #6070ff;
  border-top-left-radius: 50px;
}

.form_header {
  padding-left: 20px;
  width: 87%;
  text-align: center;
}

.form_header h2 {
  color: #ebebff;
  font-weight: 700;
  font-size: 40px;
}

.form_header p {
  color: #ebebff;
  width: 327px;
  font-weight: 400;
  font-size: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  padding-left: 16px;
  font-size: 17px;
}

input::placeholder,
textarea::placeholder {
  color: #b3bac5;
  font-size: 15px;
}

textarea {
  border: 2px solid pink;
  height: 170px;
  padding-top: 15px;
}

input {
  height: 48px;
}

input,
textarea {
  background: #fff;
  width: 90%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-top: 18px;
}

.submit_button:hover {
  background-color: #396df2;
  color: #fff;
}

.submit_button:active {
  background-color: #2230d2;
  color: #fff;
}

#form_ul {
  padding-left: 24px;
}
